<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            background-color: black;
        }
        .cintainer{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 10px;
            margin: 10px;
        }
        .item{
            background-color: white;
            height: 150px;
            position: relative;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="cintainer">
        <grid class="item">
            <img src="https://cdn.spatial.io/assets/v1/thumbnails/63a1e9ad8d0e320001347592/transientStateThumbnail/r/1f266f89e681c5e719e56ecd180afb2de48bbc81349d62c25bfd4772553e61b4/1672825871" alt="">
        </grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>
        <grid class="item"></grid>

    </div>
</body>
</html>